{% load  static %}

<html lang="es">
<div id="barraDerecha">
    <table id="tcategorias">
        <tr>
            <td><a href="http://localhost:8082/p/portatiles">Portatiles</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/pcs">PC's</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/componentes">Componentes</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/perifericos">Perifericos</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/discosexternos">Discos externos</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/memorias">Memorias</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/smartphones">Smartphones</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/tablesboobs">Tablests & Ebooks</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/gaming">Gaming</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/consumibles">Consumibles</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/adaptadores">Cables & Adaptadores</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/tv">TV</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/domotica">Domotica</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/redes">Redes e Internet</a></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/p/electronica">Electronica</a></td>
        </tr>
    </table>


</div>

</html>