{% load  static %}
{% include 'header.html' %}
{% include 'barraDerecha.html' %}
{% include 'barraIzquida.html' %}


<html lang="es">
    <head>
        <title>VirtualStore</title>
        <link rel="STYLESHEET" type="text/css" href={% static 'css/virtualstore.css' %}>
    </head>
    <body>
        <div id="contenedor">
            <H2 id="titulo">{{titulo|upper}}</H2>
            <div id="contenido">
                <div id="elemento">
                    <table id="telemento">
                        {% for elem in elemento %}
                            <tr>
                                <td><p>{{elem.codigo}}</p><p>{{elem.nombre}}</p><p>{{elem.imagen}}</p>
                                    <img src={{elem.imagen.url}}></td>

                            </tr>
                        {% endfor %}
                    </table>
                    <figure id="figura">
                        <h2>FIGURA</h2>
                    </figure>


                </div>
            </div>
        </div>
    </body>
{% include 'footer.html' %}

</html>